
@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>
<hr />

<h4>MvcCoasters</h4>
<p>Coaster Company of America is an industry-leading importer and distributor of fine furniture with styles for every person at every stage of life.</p>
<p>We have built a culture of uncompromising respect and cooperation and this translates into an efficiency that creates a superior brand experience for the consumer and positive growth for our dealer partners</p>
<p>There are more than 1000 employees in coaster and it is still growing in today's world.</p>
<h5>Head Quaters</h5>
<span>Street no: 3 </span> <br />
<span>Sunbury, Pennsylvania</span> <br />
<span>U.S.A</span>