
@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>
<div>
    <p>
        Coaster Company of America is an industry-leading importer and distributor of fine furniture with styles for every person at every stage of life.
    </p>
    <p>
        Passionate to live, dine, rest and work well
    </p>
    <p>
        Our delight is to be innovative and excellent in all that we do. There are design inspirations in our furniture brands to enhance your lifestyle and match your budget.
    </p>
</div>
